<footer id="footer" class="bg-light text-center py-3 my-4">
  <ul class="nav justify-content-center border-bottom pb-3 mb-3">
    <li class="nav-item">
      <a href="{{ url_for('index') }}" class="nav-link px-2 text-body-secondary"
        >Главная</a
      >
    </li>
    <li class="nav-item">
      <a
        href="{{ url_for('add_movie') }}"
        class="nav-link px-2 text-body-secondary"
        >Добавить фильм</a
      >
    </li>
    <li class="nav-item">
      <a
        href="{{ url_for('reviews') }}"
        class="nav-link px-2 text-body-secondary"
        >Все отзывы</a
      >
    </li>
  </ul>
  <p class="text-center text-body-secondary">© 2023 Даниил Кнауб</p>
</footer>
